@media screen and (min-width: 991px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
     }
    .row-offcanvas.active {
        .main-screen-offcanvas {
        width: 85%;

        @media (max-width: 1400px){
            width: 75%;
        }
    }
  }


  .sidebar-offcanvas {
    top: 0;

    width: 15%;

    @media (max-width: 1400px) {
      width: 25%;
    }
  }
}
