/* this defines the palette available */
/* you should not have to change those colors. */
/* If you want to change the colors of the app, edit the theme file instead */

@color_black:   #555;
@color_lighter_blue: #e6ffff;    /* lighter blue */
@color_blue: #3399ff;    /* blue */
@color_light_blue: #b3e6ff;    /* light blue */
@color_azure: azure;      /* azure */
@color_white:   white;
@color_sky:     #0097c8;      /* sky like blue */
@color_deep_black:   #333;      /* black, but darker than color_black */
@color_light_grey:   #ccc;      /* black, but darker than color_black */
