/* This file defines the available palette. Thou shall not have to change
those colors, except to implement the Coopengo colors chart, or add more
colors to the palette. If you want to change the colors of the app, edit
the theme file instead, using the colors defined here */

@color_white:           white;
@color_greyish_white:   #f8f8f8;
@color_light_grey:      #ccc;
@color_light_grey_2:    #ddd;
@color_lighter_grey:    #eee;
@color_lighter_grey_2:  #e6e6e6;
@color_median_grey:     #777;
@color_black:           #555;
@color_deep_black:      #333;
@color_blue:            #3399ff;
@color_petrol_blue:     #2e6da4;
@color_sky:             #0097c8;
@color_greyish_blue:    #337ab7;
@color_light_blue:      #b3e6ff;
@color_lighter_blue:    #e6ffff;
@color_azure:           azure;
