/* this defines the palette available */
/* you should not have to change those colors                               */
/* If you want to change the colors of the app, edit the theme file instead */

@color_black:   #555;
@color_lighter_blue: #e6ffff;    /* lighter blue */
@color_blue: #3399ff;    
@color_light_blue: #b3e6ff;    
@color_azure: azure;      
@color_white:   white;
@color_sky:     #0097c8;      
@color_deep_black:   #333;      
@color_light_grey:   #ccc;
@color_median_grey:              #777;
@color_greyish_blue:          #337ab7;
@color_petrol_blue:   #2e6da4;
@color_lighter_grey:   #eee;
@color_greyish_white:          #f8f8f8;
