@import 'colors.less';
@import 'main-screen.less';

/* variables */
    @treeview-header-color:         none;
    @treeview-header-text-size:     @main-screen-font-size;
    @treeview-header-text-color:    @color_deep_black;

    @treeview-color:                none;
    @treeview-text-size:            @main-screen-font-size;
    @treeview-text-color:           @color_deep_black;

    @treeview-stripe-mode:          true;
    @treeview-striped-color:        @color_greyish_white;

    @treeview-hover-color:          @color_greyish_white;
    @treeview-hover-text-color:     @color_deep_black;

    @treeview-line-vertical-padding:8px;

    @treeview-img-size:             2em;

    @treeview-select-color:         @color_blue;
    @treeview-select-text-color:    @treeview-hover-text-color;

/* style */
.main-screen-offcanvas > #tabs > .tab-content > .tab-pane > .tab-form > .screen-container .treeview, .modal-body {
    font-size:                  @treeview-text-size;
    color:                      @treeview-text-color;

    /* header */
    .treeview > .table > thead > tr {
        background-color:       @treeview-header-color;
        color:                  @treeview-header-text-color;
        font-size:              @treeview-header-text-size;
    }

    /* body */
    .table > tbody > tr {
        background-color:       @treeview-color;
        & > td {
            padding-top:        @treeview-line-vertical-padding;
            padding-bottom:     @treeview-line-vertical-padding;
        }
        img {
            height:             @treeview-img-size;
        }
    }

    /* strip */
    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color:       @treeview-color;
        & when (@treeview-stripe-mode = true) {
            background-color:   @treeview-striped-color;
        }
    }

    /* hover */
    .table-hover > tbody > tr:hover {
        background-color:       @treeview-hover-color;
        color:                  @treeview-hover-text-color;
        .glyphicon {
            color:              @treeview-hover-text-color;
        }
    }

    /* treefooter */
    .treefooter > .btn {
        font-size:              @treeview-text-size!important;
    }
}

/* tree view selections */
.treeview, .modal-body .treeview {
    thead > tr > th.selection {
       display:            none; /* JMO:this hides check box in tree view, i guess this is done to not have the box visible in the left menu ... */
    }
    tbody > tr > td.selection {
        display:            none; /* JMO: same as above*/
    }

    .row-active {
        background-color:   @treeview-select-color !important; /* JMO: this is greyish_white, so not very visible ... */
        color:              @treeview-select-text-color;      /* JMO: idem ... */
    }
}
